<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I AM ABOUT PAGE</title>
</head>
<body>
{% extends 'home.html' %}
{% block content %}
<p style="color:red; background-color:black; border:8px solid green; padding-top:10px; padding-right:100px;margin:70px;font-size:20px;
 font-family:cursive;word-spacing:5px;letter-spacing:1px;text-align">

specially i observed those peoples are working in multinational componies, they keep a
well behaviour, way of talking really nice.predomanently, they dont try to do wrong with someone. because they have a good
mind as comparision with general people, now we talk to general people they have keep many bad things, if  by mistaken if
you done wrong with general people they can't bear such type activity and give you a answered  revertly.but now we talk to
about their work, they really do hard work and get little bit salary or mony as daily basis but they keep large attitude.
as i am questioning here, is it right.then we found right they should do that, if they dont try do, it means some illegly
people will not percieve value of the these people. they try to benefits for our self purpose and quell to their community
    by entagled in illegely process. so when we try to understand something,then we found previous entrire things were correct.</p>

{% endblock %}
</body>
</html>